* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: rgb(43, 43, 43);
}

body {
    background-color: var(--background-color);
}

.container {
    display: flex;
    justify-content: center;
    padding: 12%;
}

.a-img {
    text-decoration: none;
}